target/
!**/src/main/**/target/
!**/src/test/**/target/

diagrams/**

*.class
*.jar
*.war

.idea/
*.iml
*.iws
*.ipr

*.docs
*.pdf

.settings/
.classpath
.project

requirements/**
jmeter/**


*.p12
*.docx
*.pdf
~$*
deploy.sh
build.sh
